html {
  background-color: #282c34;
  color: white;
}

.cardImage {
  width: 350px;
  height: 350px;
  color: white;
}

.cardTitle {
  margin-left: 10px;
  font-size: xx-large;
}

.cardLink {
  margin-left: 10px;
  color: #6ea8fe;
}

.card {
  background-color: #090a11;
  width: 350px;
  border-style: ridge;
  border-radius: 1%;
}

.cardText {
  margin-left: 10px;
}
